*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

.main{
    width: 100%;
    background-color: rgb(173, 168, 168); 
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav{
    background-color: gray;
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-content: center;
}
nav img{
    margin: 10;
    width: 75px;
    height: fit-content;
}
.Title{
    flex: 1;
    margin: 10;
    height: 1px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin: 10;
}
.nav-links ul{
    padding: auto;
    margin: auto;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
 /* Three columns side by side */
 .column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} 